extend componentes/plantilla.pug
block contenido
    section.intro
      .intro__imagen: img(src="images/imagen.png")
      .intro__contenido
        h2 #{titulo}
        p #{lorem}
        span Proin sed urna quis orci interdum rutrum. Integer rhoncus finibus nunc, ac porttitor ex dapibus ac.
        a.boton Leer Mas
    main.contenido
      each i in titulos
        +caja('imagen.png', i, lorem)


